.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #52b472;
  color: #fff;
}
.footer_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  .footer_content_contact {
    align-self: center;
  }
}
.footer_content_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding-block: 0.5rem;
      list-style: none;
      a {
        color: #fff;
      }
    }
  }
}
