#root {
  width: 100vw;

  min-height: 100vh;
}
.outlet-content {
  flex-grow: 1;
}
.app_container {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.component_container {
  padding: 2rem;
}
